.slider__right{
   @include flex();
   width: 50px;
   height: 50px;
   border: 2px solid $primary;
   border-radius: 50%;
   transition: 0.5s;
   &:hover{
      background-color: $primary-light;
      border: 2px solid $primary-light;
      cursor: pointer;
   }
   @include media-tablet {
      order: 3;
   }
}