.footer {
   padding: 40px 0 0 0 ;
   width: 100%;
   background: url('/assets/images/start-screen-gradient-background.png');
   background-size: cover;
   .container{
      @include flex(row nowrap, start, flex-start);
      gap: 160px;
   }
}