.donation__button{
   position: relative;
   margin-top: 18px;
   padding: 0 0 0 42px;
   width: 349px;
   height: 43px;
   border-radius: 9px;
   font-size: $subtitle;
   letter-spacing: 1.2px;
   &::before{
      content: url('../../../../assets/icons/credit-card.svg');
      position: absolute;
      left: 14px;
      top: 10px;
   }
}