.help__content{
   width: 1026px;
   @include flex();
   gap: 55px 117px;
   @include media-laptop{
      width: 100%;
      justify-content: space-around;
      gap: 55px 60px;
   }
   @include media-tablet{
      max-width: 350px;
      padding-top: 16px;
      gap: 30px;
      justify-content: space-between;
   }
}