//Fonts
$georgia: Georgia, 'Times New Roman', Times, serif;
$arial: Arial, sans-serif;

//Fonts size
$h2-size: 44px;
$h3-size: 35px;
$p-l-size: 15px;
$p-s-size: 12px;
$subtitle: 20px;
$btn-size: 17px;

//Colors
$light-l: #F6F6F6;
$light-xl:#FFFFFF;
$light-s:#FAFAFA;
$dark-s: #CDCDCD;
$titles: #545454;
$paragraph-l:#4C4C4C;
$paragraph-s: #B2B2B2;
$text-in-btn: #292929;
$primary:#F1CDB3;
$primary-light:#FDDCC4;
$modal: #000000;
