.pet-card {
   @include flex(column);
   background-color: $light-s;
   border-radius: 9px;
   transition: 0.5s;
   &:hover{
      cursor: pointer;
      background-color: $light-xl;
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      .pet-card__button{
         background-color: $primary-light;
         border: 2px solid $primary-light;
      }
   }
   @include media-tablet {
      order: 1;
   }
}