.about__text{
   margin: 0;
   @include font(Arial, normal, 400, $p-l-size, $paragraph-l);
   line-height: 160%;
   &:first-of-type{
      margin-bottom: 25px;
   }
   @include media-tablet {
      padding: 0 15px;
      text-align: justify;
      margin-bottom: 20px;
   }
}