.header{
   width: 100%;
   padding: 60px 0 0 0;
   background:url('/assets/images/noise_trans.png'), radial-gradient(100% 213.42% at 0% 80%, #5B483A 0%, #262425 100%); 
   z-index: 100;
   .container{
      @include flex($j-cont: space-between);
   }
   @include media-laptop  {
      padding-top: 30px;
   }
   @include media-tablet {
      padding-top: 30px;
      .container{
         align-items: center;
         padding-right: 53px;
      }
   }

}