.header{
   width: 100%;
   padding: 60px 0 0 0;
   background: url('../../../assets/images/start-screen-gradient-background.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center 0;
   .container{
      @include flex($j-cont: space-between);
   }
}