.start__title{
   @include font($size:#{$h2-size}, $color:#{$light-xl});
   max-width: 310px;
   margin: 0 0 25px 0;
   line-height: 130%;
   @include media-tablet {
      max-width: 80%;
      font-size: $h3-size-mobile;
      letter-spacing: 0.06em;
   }
}