.slider__content--page-pets{
   width: 1200px;
   flex-wrap: wrap;
   padding-bottom: 9px;
   gap: 32px 40px;
   @include media-laptop  {
      width: 580px;
      gap: 28px 40px;
      padding-top: 30px;
      >:nth-child(2), >:nth-child(3){
         display: flex;
      }
      >:nth-child(7), >:nth-child(8){
         display: none;
      }
   }
   @include media-tablet {
      width: 300px;
      gap: 30px 0px;
      padding-top: 41px;
      >:nth-child(4), >:nth-child(5), >:nth-child(6){
         display: none;
      }
   }
}