.slider{
   width: 100%;
   @include flex($j-cont: space-between);
   @include media-tablet {
      padding-bottom: 41px;
      flex-direction: row;
      justify-content: center;
      gap: 0px 77px;
   }
}