.footer__email{
   position: relative;
   margin-top: 10px;
   padding-left: 61px;
   @include font($size:#{$subtitle}, $color: #{$primary});
   letter-spacing: 0.06em;
   text-decoration: none;
   &::before{
      position: absolute;
      content: url('../assets/icons/icon-email.svg');
      left:0;
      top: -5px;
   }
   @include media-laptop{
      
   }
   @include media-tablet{
      
   }
}