.popup__feature{
   margin: 40px 0 0 0;
   padding: 0 0 0 15px;
   @include flex(column nowrap, flex-start, flex-start);
   gap: 10px;
   
   >li{
      position: relative;
      letter-spacing: 0.06em;
      list-style-type: none;
      &::before{
         position: absolute;
         top: 5px;
         left: -15px;
         content: '';
         display: block;
         width: 6px;
         height: 6px;
         border-radius: 50%;
         background-color: $primary;
      }
   }
   @include media-laptop{
      margin-top: 20px;
      gap: 5px;
   }
   @include media-tablet{
      align-self: flex-start;
   }
}