.button-with-bg{
   width: 207px;
   height: 52px;
   background-color: $primary;
   border-radius: 25px;
   border: none;
   @include font($size: #{$btn-size},$color:#{$text-in-btn});
   letter-spacing: 1px;
   transition: 0.5s;
   &:hover{
      background-color: $primary-light;
      cursor: pointer;
   }
}