.start{
   padding-top: 60px;
   background: url('../../../assets/images/start-screen-gradient-background.png'),
   url('../../../assets/images/start-screen-background.png'), 
   radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center -180px;
   .container{
      @include flex(row nowrap, center, space-between);
   }
}